#
# Tools DI configuration
#
# @license        More in LICENSE.md
# @copyright      https://www.fastybird.com
# @author         Adam Kadlec <adam.kadlec@fastybird.com>
# @package        FastyBird:Tools!
# @subpackage     config
# @since          1.0.0
#
# @date           04.06.22

php:
    date.timezone: Europe/Prague

fbApplication:
    documents:
        mapping: []